@{
    ViewData["Title"] = "Basic Course";
}

<h2>Basic Course</h2>
<p>Welcome! Here is all the information about our Basic Crouse:</p>
<button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Home")'">Close</button>
